body {
    background-image: linear-gradient(rgb(213, 85, 20), rgb(220, 7, 7));
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:crimson;
}

nav a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: burlywood;
}